<main>
    <audio #audioPlayer (timeupdate)="onTimeUpdate(audioPlayer)" controls>            
        <source [src]="currentSong.soundLink" type="audio/mp3">    
    </audio>

    <section id="popular_box">     
        <header class="box_header">
            <h3>Popular songs</h3>            
        </header>

        <article class="songs_list">
            <article *ngFor="let song of welcomeSongs.popular" class="song_box" (click)="selectSong(song, audioPlayer)">
                <div class="song_image_box"  [style]="{ 'background-image': 'url(' + song.thumbnailPath + ')'}"></div>
    
                <div class="song_data_box">
                    <div>
                        <strong>{{song.title}}<p style="font-size: small;">{{song.authors.join(', ')}}</p></strong> 
                    </div>
    
                    <div class="song_play_action">
                        <fa-icon [icon]="playIcon"></fa-icon>
                    </div>
                </div>
            </article>
        </article>
    </section>

    <section id="recent_box">
        <header class="box_header">
            <h3>Recent releases</h3>            
        </header>

        <article class="songs_list">
            <article class="songs_list">
                <article *ngFor="let song of welcomeSongs.recentReleases" class="song_box" (click)="selectSong(song, audioPlayer)">
                    <div class="song_image_box" [style]="{ 'background-image': 'url(' + song.thumbnailPath + ')'}"></div>
        
                    <div class="song_data_box">
                        <div>
                            <strong>{{song.title}}<p style="font-size: small;">{{song.authors.join(', ')}}</p></strong> 
                        </div>
        
                        <div class="song_play_action">
                            <fa-icon [icon]="playIcon"></fa-icon>
                        </div>
                    </div>
                </article>
            </article>
        </article>
    </section>

    @if(showPlayerBar) {
        <div id="player">
            <div class="player-controls">     
                <button (click)="hidePlayer(audioPlayer)">
                    <fa-icon [icon]="hidePlayerBarIcon"></fa-icon>&nbsp;Hide
                </button>

                <div class="player_group">
                    <div class="player_song_image" [style]="{ 'background-image': 'url(' + currentSong.thumbnailPath + ')'}"></div>
                    <div>
                        <p>{{currentSong.title}} - {{currentSong.authors.join(', ')}}</p>
                    </div>  
                </div>            

                <div  class="player_group">
                    <button class="play-pause" (click)="togglePlayPause(audioPlayer)">
                        @if(!isPlaying) {
                            <fa-icon [icon]="playIcon"></fa-icon>

                        } @else {
                            <fa-icon [icon]="stopIcon"></fa-icon>
                        }
                    </button>                

                    <input type="range" class="seek-bar" [value]="audioPlayer.currentTime" (input)="seekAudio(audioPlayer, $event)" [max]="audioPlayer.duration" />                  
                </div>                        

                <div class="volume-control player_group">            
                    <label for="volume">
                        @if(volume < 1) {
                            <fa-icon [icon]="volumeLowIcon"></fa-icon>

                        } @else {
                            <fa-icon [icon]="volumeHighIcon"></fa-icon>
                        }
                    </label>

                    <input class="volume-bar" type="range" id="volume" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="adjustVolume(audioPlayer)"/>                
                </div>

                @if(audioPlayer.duration && currentTime > 0) {                                                
                    <div class="player_group">
                        <fa-icon [icon]="songTimeIcon"></fa-icon>
                        
                        <span class="time">
                            {{ formatTime(audioPlayer.currentTime) }} / {{ formatTime(audioPlayer.duration) }}
                        </span>
                    </div>                
                }      
            </div>            
        </div>
    }
</main>