<nav>    
    @if(isUserLogged) {
        <div class="nav-item" [routerLink]="[ '' ]">            
            <p><fa-icon [icon]="homeIcon"></fa-icon>&nbsp;MPlayer</p>
        </div>
    
        <div class="nav-item" [routerLink]="[ 'discover' ]">
            <p><fa-icon [icon]="discoverIcon"></fa-icon>&nbsp;Discover</p>
        </div>
    
        <div class="nav-item" [routerLink]="[ 'playlist' ]">
            <p><fa-icon [icon]="playlistIcon"></fa-icon>&nbsp;Playlists</p>
        </div>
    
        <div class="nav-item" (click)="openUserModal()">
            <p><fa-icon [icon]="userIcon"></fa-icon>&nbsp;User</p>
        </div>

        <div class="nav-item" (click)="logout()">
            <p><fa-icon [icon]="logoutIcon"></fa-icon>&nbsp;Logout</p>
        </div>

    } @else {
        <div class="nav-item">
            <p>MPlayer</p>
        </div>
    }    
</nav>