<main>
    <article id="player" [style]="{ 'background-image': 'url(' + currentSong.thumbnailPath + ')'}">
        <audio #audioPlayer (timeupdate)="onTimeUpdate(audioPlayer)" controls (ended)="playNextSong(audioPlayer)">            
            <source [src]="currentSong.soundLink" type="audio/mp3">    
        </audio>

        <div class="player-controls">     
            <div class="player_group">
                <div class="player_song_image" ></div>
                <div>
                    <strong><fa-icon [icon]="songIcon"></fa-icon>&nbsp; {{currentSong.title}}<p style="font-size: small;" *ngIf="currentSong.authors">{{currentSong.authors.join(', ')}}</p></strong> 
                </div>
            </div>            
            
            <div class="player_group">
                <button class="play-pause" (click)="togglePlayPause(audioPlayer)">
                    @if(!isPlaying) {
                        <fa-icon [icon]="playIcon"></fa-icon>

                    } @else {
                        <fa-icon [icon]="stopIcon"></fa-icon>
                    }
                </button>   

                <input type="range" class="seek-bar" [value]="audioPlayer.currentTime" (input)="seekAudio(audioPlayer, $event)" [max]="audioPlayer.duration" />               
            </div>                        
            
            <div class="volume-control player_group">
                <label for="volume">
                    @if(volume < 1) {
                        <fa-icon [icon]="volumeLowIcon"></fa-icon>

                    } @else {
                        <fa-icon [icon]="volumeHighIcon"></fa-icon>
                    }
                </label>

                <input class="volume-bar" type="range" id="volume" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="adjustVolume(audioPlayer)"/>               
            </div>
                        
            @if(audioPlayer.duration && currentTime > 0) {                                                
                <div class="player_group">
                    <fa-icon [icon]="songTimeIcon"></fa-icon>
                    
                    <span class="time">
                        {{ formatTime(audioPlayer.currentTime) }} / {{ formatTime(audioPlayer.duration) }}
                    </span>
                </div>                
            }      
        </div>
    </article>

    <aside id="aside_box">
        <section class="playlist_content">
            <header>
                <h3>Playlists</h3>                     
            </header>

            <div class="playlist_item" *ngFor="let playlist of playlists; index as _pos" [ngClass]="(_pos === selectedPlaylistIndex) ? 'playlist_item_selected' : ''">
                @if(editPlaylistMode && _pos === selectedPlaylistToEditIndex) {
                    <form name="form" (ngSubmit)="renamePlaylist(playlist.encryptedId)" #f="ngForm">
                        <input class="edit_playlist_input" [(ngModel)]="form.text" #text="ngModel" type="text" name="text">
                        
                        <div [ngClass]="(_pos === selectedPlaylistIndex) ? 'playlist_item_actions playlist_item_actions_selected' : 'playlist_item_actions'">
                            <button (click)="editPlaylist(playlist, 0)">
                                <fa-icon [icon]="cancelPlaylistIcon"></fa-icon>
                            </button>
                        
                            <button type="submit">
                                <fa-icon [icon]="savePlaylistIcon"></fa-icon>
                            </button>              
                        </div>
                    </form>      

                } @else {
                    <div (click)="selectPlaylist(_pos, playlist, audioPlayer)">{{playlist.name}}</div>
                    <div (click)="selectPlaylist(_pos, playlist, audioPlayer)">{{playlist.numberOfSongs}} songs</div>  
                    <div [ngClass]="_pos === selectedPlaylistIndex ? 'playlist_item_actions playlist_item_actions_selected' : 'playlist_item_actions'">
                        <button (click)="editPlaylist(playlist, _pos)">
                            <fa-icon [icon]="editPlaylistIcon"></fa-icon>
                        </button>
    
                        <button (click)="deletePlaylist(playlist.encryptedId)">
                            <fa-icon [icon]="deletePlaylistIcon"></fa-icon>
                        </button>              
                        
                        <button [disabled]="_pos === 0" (click)="decreasePlaylistPosition(playlist.encryptedId, _pos)">
                            <fa-icon [icon]="upIcon"></fa-icon>
                        </button>
        
                        <button [disabled]="_pos === playlists.length - 1" (click)="increasePlaylistPosition(playlist.encryptedId, _pos)">
                            <fa-icon [icon]="downIcon"></fa-icon>
                        </button>
                    </div>                                    
                }    
            </div>
        </section>

        <section class="playlist_content">
            <header>
                <h3>Playlist songs</h3>
            </header>

            <div class="playlist_item" *ngFor="let song of playlistDetails.songs; index as _pos" [ngClass]="(_pos === selectedSongIndex) ? 'playlist_item_selected' : ''">
                <div (click)="selectSong(_pos, song, audioPlayer)">{{_pos + 1}}</div>
                <div class="player_song_image" (click)="selectSong(_pos, song, audioPlayer)" [style]="{ 'background-image': 'url(' + song.thumbnailPath + ')'}"></div>
                <div (click)="selectSong(_pos, song, audioPlayer)" class="song_title_box">{{song.title}}<p style="font-size: smaller;" *ngIf="song.authors">{{song.authors.join(', ')}}</p></div>
                <div>
                    <button [disabled]="_pos === selectedSongIndex" (click)="deleteSong(song.encryptedId)">
                        <fa-icon [icon]="deletePlaylistIcon"></fa-icon>                    
                    </button>
                    
                    <button [disabled]="_pos === 0" (click)="decreaseSongPosition(song.encryptedId, _pos)">
                        <fa-icon [icon]="upIcon"></fa-icon>
                    </button>
    
                    <button [disabled]="_pos === playlistDetails.songs.length - 1" (click)="increaseSongPosition(song.encryptedId, _pos)">
                        <fa-icon [icon]="downIcon"></fa-icon>
                    </button>
                </div>
            </div>
        </section>
    </aside>
</main>