<main>
    <audio #audioPlayer (timeupdate)="onTimeUpdate(audioPlayer)" controls>            
        <source [src]="currentSong.soundLink" type="audio/mp3">    
    </audio>

    <nav id="actions_box">        
        <div class="action_item">            
            <div class="list">
                <button *ngFor="let genre of songGenres" [ngStyle]="{ 'background-color': genre.color ? genre.color : '' }"
                        [ngClass]="selectedSongGenres.includes(genre.encryptedId) ? 'selected_genre_mood' : ''" (click)="selectGenre(genre.encryptedId)">{{genre.name}}</button>
            </div>            
        </div>

        <div class="action_item">         
            <div class="list">
                <button *ngFor="let mood of songMoods" [ngStyle]="{ 'background-color': mood.color ? mood.color : '' }"
                        [ngClass]="selectedSongMoods.includes(mood.encryptedId) ? 'selected_genre_mood' : ''" (click)="selectMood(mood.encryptedId)">{{mood.name}}</button>
            </div>            
        </div>

        <div class="action_item_grouped">
            <form name="form" (ngSubmit)="discoverByText()" #f="ngForm">
                <input type="text" id="search_input" placeholder="Search by name" [(ngModel)]="form.text" #text="ngModel" name="text">
                <button type="button" title="Reset" (click)="resetSelections()">
                    <fa-icon [icon]="resetIcon"></fa-icon>
                </button>
                <button type="submit" title="Find">
                    <fa-icon [icon]="searchIcon"></fa-icon>
                </button>
            </form>
        </div>
    </nav>

    <section id="content">
        <div id="content_list">
            <article class="list_item"> 
                <div></div>
                <div>Title</div>
                <div>Genres, Moods</div>                
                <div>Release Date</div>
                <div>Actions</div>                
            </article>            

            <article *ngFor="let song of discoveredSongs.songs" class="list_item" (click)="selectSong(song, audioPlayer)" [ngClass]="song === currentSong ? 'list_item_selected' : ''">
                <div [style]="{ 'background-image': 'url(' + song.thumbnailPath + ')'}"></div>
                <div>{{song.title}} - {{song.authors.join(', ')}}</div>
                <div class="song_colors">
                    <span *ngFor="let genre of song.genres" [ngStyle]="{ 'background-color': genre.color ? genre.color : ' '}">{{genre.name}}</span>
                    <span *ngFor="let mood of song.moods" [ngStyle]="{ 'background-color': mood.color ? mood.color : ' '}">{{mood.name}}</span>
                </div>

                <div>{{song.releaseDate}}</div>
                <div class="list_item_actions">
                    <fa-icon [icon]="playIcon"></fa-icon>&nbsp;
                    <fa-icon [icon]="playlistIcon"></fa-icon>
                </div>                
            </article>
        </div>

        <footer>
            <div id="pagination">
                <button (click)="navigate(getPreviousPage())" [disabled]="discoveredSongs.pageable.first"><</button>                
                <button>{{discoveredSongs.pageable.totalPages > 0 ? discoveredSongs.pageable.pageNumber + 1 : 0}}&nbsp;/&nbsp;{{discoveredSongs.pageable.totalPages}}</button>                     
                <button (click)="navigate(getNextPage())" [disabled]="discoveredSongs.pageable.last">></button>
            </div>
     
            @if(showPlayerBar) {
                <div id="player">
                    <button (click)="hidePlayer(audioPlayer)">
                        <fa-icon [icon]="hidePlayerBarIcon"></fa-icon>&nbsp;Hide
                    </button>
    
                    <div class="player_group">
                        <div class="player_song_image" [style]="{ 'background-image': 'url(' + currentSong.thumbnailPath + ')'}"></div>
                        <div>
                            <p>{{currentSong.title}} - {{currentSong.authors.join(', ')}}</p>
                        </div>  
                    </div>            
    
                    <div  class="player_group">
                        <button class="play-pause" (click)="togglePlayPause(audioPlayer)">
                            @if(!isPlaying) {
                                <fa-icon [icon]="playIcon"></fa-icon>
    
                            } @else {
                                <fa-icon [icon]="stopIcon"></fa-icon>
                            }
                        </button>                
    
                        <input type="range" class="seek-bar" [value]="audioPlayer.currentTime" (input)="seekAudio(audioPlayer, $event)" [max]="audioPlayer.duration" />                  
                    </div>                        
    
                    <div class="volume-control player_group">            
                        <label for="volume">
                            @if(volume < 1) {
                                <fa-icon [icon]="volumeLowIcon"></fa-icon>
    
                            } @else {
                                <fa-icon [icon]="volumeHighIcon"></fa-icon>
                            }
                        </label>
    
                        <input class="volume-bar" type="range" id="volume" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="adjustVolume(audioPlayer)"/>                
                    </div>
    
                    @if(audioPlayer.duration && currentTime > 0) {                                                
                        <div class="player_group">
                            <fa-icon [icon]="songTimeIcon"></fa-icon>
                            
                            <span class="time">
                                {{ formatTime(audioPlayer.currentTime) }} / {{ formatTime(audioPlayer.duration) }}
                            </span>
                        </div>                
                    }                 
                </div>
            }
        </footer>
    </section>
</main>