<main>
    <nav id="actions_box">
        <div class="action_item">            
            <input type="text" id="search_input" placeholder="Search by name">
        </div>

        <div class="action_item action_item_grouped">
            <header>Genres</header>
            <div class="list">
                <button>X</button>                
                <button>Y</button>
                <button>Z</button>
            </div>            
        </div>

        <div class="action_item action_item_grouped">
            <header>Moods</header>
            <div class="list">
                <button>X</button>                
                <button>Y</button>
                <button>Z</button>
            </div>            
        </div>

        <div class="action_item">
            <button type="submit">
                <fa-icon [icon]="searchIcon"></fa-icon>
            </button>
        </div>
    </nav>

    <section id="content">
        <div id="content_list">
            <article class="list_item">
                <div></div>
                <div>Title</div>
                <div>Genres, Moods</div>                
                <div>Release Date</div>
                <div>Actions</div>                
            </article>

            <article class="list_item" (click)="showPlayerBar = !showPlayerBar">
                <div style="background-image: url(https://linkstorage.linkfire.com/medialinks/images/85803633-60c7-45b2-9819-239964911c37/artwork-440x440.jpg);"></div>
                <div>Jim Yosef - Link</div>
                <div>House, Epic, Energic | Quirky, Hopeful</div>                
                <div>20 May 2017</div>
                <div class="list_item_actions">
                    <fa-icon [icon]="playIcon"></fa-icon>&nbsp;
                    <fa-icon [icon]="playlistIcon"></fa-icon>
                </div>                
            </article>

            <article class="list_item">
                <div style="background-image: url(https://ncsmusic.s3.eu-west-1.amazonaws.com/tracks/000/000/434/100x100/linked-1586953317-0BranYHgw8.jpg);"></div>
                <div>Jim Yosef, Anna Yvette - Linked</div>
                <div>House, Epic, Energic | Quirky, Hopeful, Euphoric</div>                
                <div>19 Dec 2017</div>
                <div class="list_item_actions">
                    <fa-icon [icon]="playIcon"></fa-icon>&nbsp;
                    <fa-icon [icon]="playlistIcon"></fa-icon>
                </div>             
            </article>

            <article class="list_item">
                <div style="background-image: url(https://i1.sndcdn.com/artworks-000075049437-nhywpg-t500x500.jpg);"></div>
                <div>Tobu - Hope</div>
                <div>House, Epic, Energic | Hopeful</div>                
                <div>21 Jan 2016</div>
                <div class="list_item_actions">
                    <fa-icon [icon]="playIcon"></fa-icon>&nbsp;
                    <fa-icon [icon]="playlistIcon"></fa-icon>
                </div>              
            </article>
        </div>

        <footer>
            <div id="pagination">
                <button><</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>45</button>
                <button>></button>
            </div>
     
            @if(showPlayerBar) {
                <div id="player">
                    <button (click)="showPlayerBar = !showPlayerBar">
                        <fa-icon [icon]="hidePlayerBarIcon"></fa-icon>&nbsp;Hide
                    </button>

                    <audio #audioPlayer (timeupdate)="onTimeUpdate(audioPlayer)" controls>            
                        <source [src]="currentTrack.url" type="audio/mp3">    
                    </audio>
        
                    <div class="player-controls">     
                        <div class="player_group">
                            <div class="player_song_image" style="background-image: url(https://i1.sndcdn.com/artworks-000186538711-d19l93-t500x500.jpg);"></div>
                            <div>
                                <p>{{currentTrack.title}}</p>
                            </div>  
                        </div>            
        
                        <div  class="player_group">
                            <button class="play-pause" (click)="togglePlayPause(audioPlayer)">
                                @if(!isPlaying) {
                                    <fa-icon [icon]="playIcon"></fa-icon>
        
                                } @else {
                                    <fa-icon [icon]="stopIcon"></fa-icon>
                                }
                            </button>                
        
                            <input type="range" class="seek-bar" [value]="audioPlayer.currentTime" (input)="seekAudio(audioPlayer, $event)" [max]="audioPlayer.duration" />                 
                        </div>                        
        
                        <div class="volume-control player_group">            
                            <label for="volume">
                                @if(volume < 1) {
                                    <fa-icon [icon]="volumeLowIcon"></fa-icon>
        
                                } @else {
                                    <fa-icon [icon]="volumeHighIcon"></fa-icon>
                                }
                            </label>
        
                            <input class="volume-bar" type="range" id="volume" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="adjustVolume(audioPlayer)"/>           
                        </div>
                        
                        @if(audioPlayer.duration && currentTime > 0) {                                                
                            <div class="player_group">
                                <fa-icon [icon]="songTimeIcon"></fa-icon>
                                
                                <span class="time">
                                    {{ formatTime(audioPlayer.currentTime) }} / {{ formatTime(audioPlayer.duration) }}
                                </span>
                            </div>                
                        }         
                    </div>            
                </div>
            }
        </footer>
    </section>
</main>